.navbar-size {
    width: 95%;
    margin: 0 auto;
}
.user-image-size {
    height: 56px;
    margin: 4px 0;
}
.main-body {
    background-color: #F28487;
    color: white;
    height: 100%;
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}
.click-me-button {
    background-color: #EE6E73;
    margin-top: 50px;
}
.card-desc-color {
    color: #808080;
}
.cards-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.card {
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}